.App-editor {
  height: 550px;
  overflow: auto;
  margin-top: 0px !important;
}

.closeBtn {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  border: 1px solid greenyellow;
  color: #fff;
  background: #001529;
  margin:0.51rem;
}